@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Students Portal</h1>
    <p>This student portal is created with the help of CRUD based API operation which is built using the MVC entity framework of .NET Core (version 8).</p>
   
</div>
